<% layout('layouts/template') -%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]>">
                    <!-- 这里有我之前不懂的地方，就是如何把一些内容一起传过去，靠的不是整个form的名字
            靠的还是具体每一个input的名字，把他们弄成dict的格式，就可以一起读出来了
        用campground[]可以巧妙地把变量打包 -->
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]>">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image Url</label>
                    <input type="text" class="form-control" id="img" name="campground[image]>>
                </div>
                <div class=" mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description"
                        name="campground[description]"> </textarea>
                </div>
                <button type="submit" class="btn btn-success">Add Campground</button>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>